---
import Layout from "../../layouts/Layout.astro";
import { Zap } from "lucide-astro";

const title = `Божества | D&D Wiki`;
const description = `Добро пожаловать в Реневон!`;
---

<Layout {title} {description}>
  <div class="prose">
    <div class="flex gap-4">
      <Zap size={40} />
      <h1>Божества</h1>
    </div>
  </div>
</Layout>
