---
import Layout from "../../layouts/Layout.astro";
import { Earth } from "lucide-astro";

const title = `Мир | D&D Wiki`;
const description = `Добро пожаловать в Реневон!`;
---

<Layout {title} {description}>
  <div class="flex gap-4">
    <Earth size={40} />
    <h1>Мир</h1>
  </div>
  <p class="max-w-2xl">
    В эпоху, когда звёзды ещё только начинали рассказывать свои древние истории,
    на континенте Реневон зарождался мир, полный чудес и опасностей. Это место,
    где каждый уголок таит в себе легенды, а воздух пропитан магией, так
    древней, что её корни уходят в само начало времён. Первый свет — это мир,
    где судьбы не решаются мечами и заклинаниями, а плетутся из тонких нитей
    выборов и желаний, сильнее всякой магии.
    <br />
    <br />
    На западе, где волны бьются о Ясное побережье, разразилась гражданская война,
    разрывающая регион на части и сердца на куски. В самом центре континента, Калимшан
    — сердце Реневона — таит в своих стенах не только богатство и власть, но и интриги,
    достойные императоров. Горный Север, с его вечным снегом и льдом, охраняет древние
    тайны, замерзшие во времени, так же как и Хладная Гавань, откуда мало кто возвращается,
    чтобы рассказать свою историю.
    <br />
    <br />
    К востоку открывается величие Нефритовых Земель, окружённых величественной стеной,
    скрывающей мир, где магия и воинымонахи определяют порядок дня. А в Изумрудном
    Лесу, где эльфы стерегут свои тайны, живут те, кто нашёл убежище от бурь внешнего
    мира, ища приют в его тенистых просторах. Черные топи же известны своей жестокостью
    и опасностями, где правит культ силы, и только самые смелые или безумные осмеливаются
    ступить на их земли.
    <br />
    <br />
    Добро пожаловать в мир Первого света, где каждая тень скрывает тайну, и каждый
    свет — обещание приключений. Где магия — это дыхание мира, а мечты — его сердцебиение.
    Вперёд, к легендам, ждущим того, кто смело встретит их взгляд.
  </p>
</Layout>
