---
import { getCollection } from "astro:content";
import TextPageLayout from "../../layouts/TextPageLayout.astro";
import { Earth } from "lucide-astro";
import RegionLink from "@components/world/RegionLink.astro";

const title = `Мир`;
const description = `Добро пожаловать в Реневон!`;

const regionsCollection = (await getCollection("regions")).sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<TextPageLayout {title} {description}>
  <Earth slot="before-title" size={40} />
  <p>
    В эпоху, когда звёзды ещё только начинали рассказывать свои древние истории,
    на континенте Реневон зарождался мир, полный чудес и опасностей. Это место,
    где каждый уголок таит в себе легенды, а воздух пропитан магией, так
    древней, что её корни уходят в само начало времён. Первый свет — это мир,
    где судьбы не решаются мечами и заклинаниями, а плетутся из тонких нитей
    выборов и желаний, сильнее всякой магии.
    <br />
    <br />
    На западе, где волны бьются о Ясное побережье, разразилась гражданская война,
    разрывающая регион на части и сердца на куски. В самом центре континента, Калимшан
    — сердце Реневона — таит в своих стенах не только богатство и власть, но и интриги,
    достойные императоров. Горный Север, с его вечным снегом и льдом, охраняет древние
    тайны, замерзшие во времени, так же как и Хладная Гавань, откуда мало кто возвращается,
    чтобы рассказать свою историю.
    <br />
    <br />
    К востоку открывается величие Нефритовых Земель, окружённых величественной стеной,
    скрывающей мир, где магия и воинымонахи определяют порядок дня. А в Изумрудном
    Лесу, где эльфы стерегут свои тайны, живут те, кто нашёл убежище от бурь внешнего
    мира, ища приют в его тенистых просторах. Черные топи же известны своей жестокостью
    и опасностями, где правит культ силы, и только самые смелые или безумные осмеливаются
    ступить на их земли.
    <br />
    <br />
    Добро пожаловать в мир Первого света, где каждая тень скрывает тайну, и каждый
    свет — обещание приключений. Где магия — это дыхание мира, а мечты — его сердцебиение.
    Вперёд, к легендам, ждущим того, кто смело встретит их взгляд.
  </p>
  <h2>География</h2>
  <p>
    Реневон — континент, окутанный тайнами и магией, где великие герои и тёмные
    силы сплетают истории величия и падения. От воинственного Ясного побережья
    до таинственных Нефритовых Земель, каждый уголок скрывает свои легенды.
    Здесь древние леса и морозные гавани служат домом для эльфов, людей, и
    многих других рас. В этом мире, где политические интриги и божественные
    заговоры переплетаются с судьбами отважных ищущих приключений, каждый шаг
    может привести к новому открытию или смертельной опасности.
  </p>
  <h2>Регионы:</h2>
  <blockquote>
    В каждом регионе естьнесколько больших городов со своими правителями, однако
    политическое устройство каждого региона отличается.
  </blockquote>
  {
    regionsCollection.map((region, index) => (
      <>
        <h3>
          {index + 1}
          {". "}
          <RegionLink region={region} />
        </h3>
        <p>{region.data.description}</p>
      </>
    ))
  }
</TextPageLayout>
