---
import type { CollectionEntry } from "astro:content";

interface Props {
  legend: CollectionEntry<"legends">;
}

const { legend } = Astro.props;
---

{legend && <a href={`/legends/${legend.slug}`}>{legend.data.title}</a>}
