---
import Layout from "../../layouts/Layout.astro";

const title = `Бестиарий | D&D Wiki`;
const description = `Добро пожаловать в Реневон!`;
---

<Layout {title} {description}>
  <div class="flex gap-2">
    <h1>Бестиарий</h1>
  </div>
</Layout>
