---
import Layout from "../layouts/Layout.astro";

const title = `Главная | D&D Wiki`;
const description = `Добро пожаловать в Реневон!`;
---

<Layout {title} {description}>
  <h1 class="text-4xl font-bold">Welcome!</h1>
</Layout>
