---
import TextPageLayout from "../layouts/TextPageLayout.astro";

const title = `Добро пожаловать в Реневон!`;
const description = `Эта Вики содержит всю информацию о мире и всю информацию о том, что в нём есть.`;
---

<TextPageLayout {title} {description} image="/main.webp">
  <p>
    На этом сайте ты найдёшь всю информацию о Первом Свете и всю информацию о
    том, что в нём есть.
  </p>
</TextPageLayout>
