---
import Layout from "../layouts/Layout.astro";

const title = `Главная | D&D Wiki`;
const description = `Добро пожаловать в Первый свет!
  Эта Вики содержит всю информацию о мире и всю информацию о том, что в нём есть.`;
---

<Layout {title} {description}>
  <div class="prose">
    <h1>Добро пожаловать в Первый свет!</h1>
    <blockquote>
      На этом сайте ты найдёшь всю информацию о Первом Свете и всю информацию о
      том, что в нём есть.
      <br />
      Добро пожаловать в Первый Свет и Реневон!
    </blockquote>
  </div>
</Layout>
