---
import Layout from "../layouts/Layout.astro";
import ThemeChanger from "../components/ThemeChanger.astro";

const title = `D&D World Wiki`;
const description = `Renevon's D&D World Wiki. A collection of information about the world of our D&D campaign.`;
---

<Layout {title} {description}>
  <main class="relative container min-h-screen w-screen flex flex-col py-12 gap-6">
    <div class="flex justify-center">
      <ThemeChanger />
    </div>
  </main>
</Layout>
