---
import TextPageLayout from "../../layouts/TextPageLayout.astro";
import { PartyPopper } from "lucide-astro";

const title = `Праздники Реневона`;
const description = `Основные праздники которые отмечают во всем Реневоне вне
зависимости от рассы, региона или веры.`;
---

<TextPageLayout {title} {description}>
  <PartyPopper slot="before-title" size={40} />
  <p>{description}</p>

  <h3>1. Золотой бал</h3>
  <p>
    Обычно отмечается в последнее в последний день последнего полного септима
    Месяца Золотого Урожая, он отмечает конец сезона уборки урожая и
    благодарность за богатство земли. Центральным событием бала являются
    пиршества, где люди собираются вместе, чтобы отметить удачный урожай и
    поделиться плодами своего труда. Столы накрываются разнообразными блюдами,
    приготовленными из свежих овощей, фруктов и зерновых. Музыка и танцы
    наполняют воздух радостью и весельем
  </p>

  <h3>2. Ночь теней</h3>
  <p>
    Отмечается на восьмой день Тихого сумрака, в день, когда ночь практически
    поглащает весь свет дня. В этот день среди жителей Реневона принято отдавать
    дань Предкам, возлагая им молитвы и преподноша дары. Ходит поверье что в
    этот день ткань мира материального и загробного на столько тонка, что духи
    могут самостотельно ходит по земле принимая материальную форму и помогать
    тем кто у них в милости или же наоборот уничтожать своих заклятых врагов
  </p>

  <h3>3. День Весеннего Пробуждения</h3>
  <p>
    Это один из наиболее волшебных и живописных праздников на Реневоне, который
    отмечается в первый день месяца Огня Очага, когда день и ночь становятся
    равны друг другу. В этот день все жители Материка сажают повсюду прекрасные
    цветы, устраивают ритуальные танцы и песнопения, а также проводят различные
    обряды очищения и защиты, способные уберечь их от приближающегося Месяца
    Звезного перехода, а так же избавить от всех душевных терзаний, оставшихся
    после долгой зимы
  </p>

  <h3>4. Праздниство света</h3>
  <p>
    Раз в 5 лет, в последний день Звездного Перехода, жители Реневона собираются
    вместе для проведения Праздниства света. Этот день посвящен Люмину, первому
    богу, символизирующему свет и надежду. Люди приносят жертвы в виде
    светящихся камней, благоухающих трав и драгоценных предметов, сделанных
    вручную, которые они сжигают в огромных кострах. Огни Праздниства видны в
    каждом уголке материка, создавая завораживающее зрелище. Этот ритуал
    символизирует прошение о защите от несчастий и стремление к благополучию в
    следующие четыре года
  </p>
</TextPageLayout>
