---
import TextPageLayout from "../../layouts/TextPageLayout.astro";
import { CalendarDays, LeafyGreen, Snowflake, Sprout, Sun } from "lucide-astro";

const title = `Календарь`;
const description = `Год в Реневоне состоит из 13и месяцев (последний из которых
считается несчастливым) по 28 дней в каждом, и того 364 дня. Недели
называются септимами и состоят из семи дней.

Раз в пять лет проводится Празднитство света, что добавляет к
тринадцатому месяцу 29й день, так год становится високосным.`;
---

<TextPageLayout {title} {description}>
  <CalendarDays slot="before-title" size={40} />
  <blockquote>{description}</blockquote>

  <h2>Месяца</h2>

  <div class="flex gap-3 items-center">
    <Sun /><h3 class="m-0">Лето</h3>
  </div>

  <h4>1. Месяц Жара Солнца</h4>
  <p>Первый месяц года, начало лета, когда жара достигает своего апогея</p>

  <h4>2. Месяц Золотого Урожая</h4>
  <p>Второй месяц лета, когда начинается сбор урожая</p>

  <h4>3. Месяц Цветущего Венца</h4>
  <p>Третий месяц лета, время цветения и празднований</p>

  <div class="flex gap-3 items-center">
    <LeafyGreen /><h3 class="m-0">Осень</h3>
  </div>

  <h4>4. Месяц Падающей Листвы</h4>
  <p>
    Первый месяц осени, символизирует начало увядания природы и подготовку к
    зиме
  </p>

  <h4>5. Месяц Темного Пролива</h4>
  <p>Второй месяц осени, время нарастающих темнот и холодов</p>

  <h4>6. Месяц Тихого Сумрака</h4>
  <p>Третий месяц осени, месяц кратчайших дней и длинных ночей</p>

  <div class="flex gap-3 items-center">
    <Snowflake /><h3 class="m-0">Зима</h3>
  </div>

  <h4>7. Месяц Морозного Сияния</h4>
  <p>Первый месяц зимы, время зимних морозов и сверкающих снегов</p>

  <h4>8. Месяц Серебряного Снега</h4>
  <p>Второй месяц зимы, когда снег покрывает землю серебряным покровом</p>

  <h4>9. Месяц Лунного Покрова</h4>
  <p>
    Третий месяц зимы, отражает время, когда луна особенно ярка и влиятельна
  </p>

  <h4>10. Месяц Холодного Мерцания</h4>
  <p>
    Четвертый месяц зимы, время когда холод достигает своего пика, и мир покрыт
    ледяным блеском
  </p>

  <div class="flex gap-3 items-center">
    <Sprout /><h3 class="m-0">Весна</h3>
  </div>

  <h4>11. Месяц Пелены Тумана</h4>
  <p>
    Первый месяц весны, месяц, окутанный таинственностью и непроглядным туманом
  </p>

  <h4>12. Месяц Огня Очага</h4>
  <p>Второй месяц весны, символизирует тепло и уют домашнего очага</p>

  <h4>13. Месяц Звездного Перехода</h4>
  <p>
    Третий месяц весны, когда звезды особенно ярки на небе и могут оказывать
    значительное влияние на Материальный план. Это месяц считается несчастливым,
    но 29-й день високосного года приносит удачу и счастье
  </p>
</TextPageLayout>
