---
import { getPantheon } from "src/utils/pantheon";
import TextPageLayout from "../../layouts/TextPageLayout.astro";
import { Skull } from "lucide-astro";
import HellsList from "@components/hells/HellsList.astro";
import { getCollection } from "astro:content";

const title = `Пантеон преисподней`;
const description = `Девять Преисподних Баатора будоражат воображение
путешественников, жадность искателей сокровищ и ярость
благопристойных существ. Это план законопослушания и зла, и
образчик осознанной жестокости. Дьяволы Девяти Преисподних
обязаны повиноваться вышестоящим, но внутри своих индивидуальных
каст они бунтуют как хотят. Многие идут на что угодно, на любую
подлость, чтобы продвинуться рангом повыше. На самом верху
иерархии находится Асмодей, которого никому не перехитрить. Если
кто-то его свергнет, он будет править всем планом. Таков закон Девяти
Преисподних.`;

const hells = await (
  await getCollection("hells")
).sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<TextPageLayout {title} {description} image="/hells/nine-hells.webp">
  <Skull slot="before-title" size={40} />
  <blockquote>{description}</blockquote>

  <h2>Структура преисподней</h2>
  <p>
    У Девяти Преисподних девять слоёв. Восемь первых находятся под контролем
    архидьяволов, служащих Асмодею, эрцгерцогу Нессуса, девятого слоя. Чтобы
    достичь самого глубокого слоя Девяти Преисподних, нужно пройти по всем
    восьми предыдущим слоям. Быстрее всего это сделать по реке Стикс, проходящей
    по всем слоям, но только самые храбрые искатели приключений могут выдержать
    муки и пытки такого путешествия.
  </p>

  <h3>Авернус</h3>
  <p>
    Никакие планарные порталы не ведут на нижние слои Девяти Преисподних, таков
    приказ Асмодея. Именно поэтому первый слой, Авернус, является местом
    прибытия всех гостей этого плана. Авернус представляет собой каменистую
    пустошь с реками крови и облаками кусачих мух. Иногда с чёрного неба падают
    огненные кометы, оставляющие дымящиеся кратеры. Пустые поля сражений
    завалены оружием и костями, показывая, где легионы Девяти Преисподних
    встретили на своей земле врагов и победили. Авернусом правит эрцгерцогиня
    Зариэль, сместившая своего конкурента, Сефирота, который лишился милости
    Асмодея и по принуждению стал советником Зариэль. Таргонакс, бог-дракон,
    пленен на этом слое, и правит своим небольшим доменом, но не покидает Девять
    Преисподних согласно древнему контракту с Асмодеем, который был заключен
    после создания богами купола что отделял все божественное от мира
    материального (условия контракта известны только Таргонаксу и Владыке
    Девяти).
    <br />
    Средоточием власти Зариэль является парящая в воздухе базальтовая цитадель, украшенная
    частично сожжёнными трупами посетителей, не сумевших угодить эрцгерцогине. Зариэль
    выглядит как ангел, чья когдато прекрасная кожа и крылья обожжены огнём. Её глаза
    горят яростным белым светом, от которого глядящие на неё существа могут воспламениться.
  </p>

  <h3>Дис</h3>
  <p>
    Дис, второй слой Девяти Преисподних, это лабиринт из каньонов, зажатых
    горами, богатыми железной рудой. По каньонам проложены дороги из железа, за
    которыми присматривают гарнизоны, размещающиеся в железных крепостях на
    скалах. Этот слой назван в честь своего повелителя, Диспатера. Этот
    эрцгерцог, ловкий манипулятор и мошенник, дьявольски привлекателен. Только
    небольшие рожки, хвост и копыто на левой ноге отличают его от человека. Его
    алый трон находится в сердце Железного Города Дис, огромном метрополисе,
    самом большом в Девяти Преисподних. Путешественники по планам приходят сюда
    для заключения сделок с дьяволами, ночными каргами, ракшасами, инкубами,
    суккубами и прочими исчадьями. Диспатер получает отчисления со всех сделок,
    заключённых здесь, благодаря особому пункту во всех контрактах. Диспатер —
    один из самых преданных и находчивых вассалов Асмодея, и мало кто во всей
    мультивселенной может его перехитрить. Он больше других дьяволов одержим
    идеей заключать сделки со смертными в обмен на их души, и его эмиссары
    безустанно плетут зловещие козни на Материальном Плане.
  </p>

  <h3>Минаурос</h3>
  <p>
    Третий слой Девяти Преисподних это сплошное зловонное болото. С коричневого
    неба этого слоя идёт кислотный дождь, толстый слой грязи покрывает его
    гниющую поверхность, а под трясинами скрываются ямы, поджидающие
    неосторожных путников. На болотах стоят огромные города из резного камня,
    включая великий город Минаурос, в честь которого и назван этот план.
    Скользкие стены этого города возвышаются на сотни футов, защищая затопленные
    залы Маммона. Эрцгерцог Минауроса напоминает массивного змея с торсом и
    головой лысого рогатого гуманоида. Жадность Маммона вошла в легенды, и это
    один из малочисленных архидьяволов, оказывающий услуги за золото, а не души.
    Его логово завалено сокровищами тех, кто пытался — и не смог — превзойти его
    в сделке.
  </p>

  <h3>Флегетос</h3>
  <p>
    Флегетос, четвёртый слой, это огненный пейзаж, в котором моря горячей магмы
    создают горячие ураганные ветра, удушающий дым и вулканический пепел. В
    заполненном огнём кратере самого большого вулкана Флегетоса находится
    Абримох, город-крепость, построенный из обсидиана и тёмного стекла. Из-за
    рек расплавленной лавы, стекающих по его внешним стенам, город напоминает
    чашу гигантского адского фонтана. В Абримохе власть принадлежит двум
    архидьяволам, правящим в тандеме: эрцгерцогу Белиалу и эрцгерцогине Фьёрне,
    дочери Белиала. Белиал — привлекательный дьявол с мощным телосложением,
    ведущий себя учтиво, даже когда его слова несут угрозу. Его дочь — статная
    дьяволица, чья красота способна найти отзвук в самом чёрном сердце Девяти
    Преисподних. Союз Белиала и Фьёрны нерушим, так как каждый понимает, что его
    выживание зависит от партнёра.
  </p>

  <h3>Стигия</h3>
  <p>
    Четвёртый слой Девяти Преисподних это морозное царство льда, в котором горит
    холодное пламя. Слой окружён замёрзшим морем, а угрюмое небо разрывается от
    молний. Эрцгерцог Левистус, когда-то предавший Асмодея, заморожен во льдах
    Стигии в качестве наказания, но по-прежнему правит своим планом,
    телепатически общаясь со своими последователями и слугами, как в Девяти
    Преисподних, так и на Материальном Плане. Стигия это ещё и дом её бывшего
    правителя, змеевидного архидьявола Гериона, освобождённого от должности
    Асмодеем, чтобы пленённый Левистус мог править дальше. Впадение Гериона в
    немилость вызвало множество споров. Никто не знает, была ли у Асмодея тайная
    причина смещать архидьявола, или же он для чего-то испытывает преданность
    Гериона.
  </p>

  <h3>Малболг</h3>
  <p>
    Малболг, шестой слой, пережил многих правителей, в том числе Малагард,
    графиню-ведьму, и архидьявола Молоха. Малагард лишилась милости и была
    уничтожена Асмодеем в приступе обиды, а её предшественник, Молох, всё ещё
    обитает где-то на шестом слое в облике беса, намереваясь вернуть себе
    расположение Асмодея. Малболг выглядит как бесконечный склон невероятно
    огромной горы. Части этого слоя время от времени ломаются, создавая опасные
    и оглушительные каменные лавины. Обитатели Малболга живут в рассыпающихся
    крепостях и огромных пещерах, вырезанных в склоне. Сейчас эрцгерцогиней
    Малболга является дочь Асмодея, Гласия. Она выглядит как суккуб с небольшими
    рожками, кожаными крыльями и расщеплённым хвостом. От отца она унаследовала
    жестокость и любовь к козням. Цитадель, в которой она проживает на склоне
    Малболга, стоит на треснувших колоннах и опорах, крепких, несмотря на
    внешний вид. Под дворцом находится лабиринт, связанный с клетками и
    пыточными камерами, где Гласия держит в заточении и пытает тех, кто не
    угодил ей.
  </p>

  <h3>Маладомини</h3>
  <p>
    Седьмой слой, Маладомини, это покрытая руинами пустошь. Мёртвые города
    формируют заброшенный урбанистический ландшафт, а между ними стоят пустые
    рудники, ветхие дороги, груды шлака, пустые остовы крепостей и рои голодных
    мух. Эрцгерцогом Маладомини является Вельзевул, Повелитель Мух. У этого
    жирного исчадия нижняя половина тела огромного слизняка. Это наказание
    Асмодея за пошатнувшуюся преданность. Вельзевул — презренное и жалкое
    чудище, которое давно планирует свергнуть Асмодея, но у которого никогда это
    не получалось. На нём лежит проклятье, из-за которого все сделки,
    заключённые с ним, обречены на провал. Периодически Асмодей оказывает
    благосклонность Вельзевулу, но причины этого непонятны другим эрцгерцогам,
    хотя они и подозревают, что эрцгерцог Нессуса всё ещё ценит поверженного
    противника.
  </p>

  <h3>Кания</h3>
  <p>
    Кания, восьмой слой Девяти Преисподних, это ледяной ландшафт, бури которого
    могут содрать плоть с костей. Города, вмороженные в лёд, могут предоставить
    укрытие гостям и пленникам правителя Кании, великолепного и коварного
    архидьявола Мефистофеля. Мефистофель обитает в ледяной цитадели Мефистар, в
    которой он и планирует захват Трона Баатора и завоевание всех планов. Это
    величайший союзник и противник Асмодея, и эрцгерцог Нессуса вроде бы
    доверяет советам Мефистофеля. Мефистофель знает, что не сможет сместить
    Асмодея, пока тот не совершит роковой ошибки, и потому оба ждут, пока
    обстоятельства не столкнут их. Мефистофель также является чем-то вроде
    крёстного отца Гласии, что лишь делает ситуацию более запутанной.
    Мефистофель это импозантный, высокий дьявол с впечатляющими рогами и
    сдержанными манерами. Он торгует душами, как прочие архидьяволы, но редко
    уделяет время недостойным существам. Его инстинкты остры как ледяные ветра
    Кании, и говорят, что перехитрить его может только Асмодей.
  </p>

  <h3>Нессус</h3>
  <p>
    Самый нижний слой Девяти Преисподних, Нессус, это царство тёмных ям, стены
    которых усыпаны крепостями. Там генералы, исчадия преисподней, преданные
    Асмодею, муштруют легионы дьяволов и строят планы по завоеванию
    мультивселенной. В центре этого слоя находится огромный разлом неизвестной
    глубины, в котором возвышается Мальшим, огромная цитадель в форме шпиля, дом
    Асмодея и его инфернальных придворных. Мальшим напоминает огромный пустой
    внутри сталагмит. Это также тюрьма для душ, запертых Асмодеем для
    сохранности. Просьба убедить его выпустить даже одну душу обойдётся очень
    дорого, ходят слухи, что раньше эрцгерцог Нессуса брал за это целые
    королевства. Асмодей чаще всего предстаёт в виде привлекательного бородатого
    гуманоида с небольшими рожками на лбу, пронзительными красными глазами и в
    струящейся мантии. Он принимает и другие обличья, но его редко видят без
    скипетра с рубином в руке. Асмодей — самый хитрый и благовоспитанный из
    архидьяволов. Абсолютное зло, представителем которого он является, можно
    увидеть либо если он сам того пожелает, либо же если он забудется и выйдет
    из себя.
  </p>

  <div>
    <HellsList title="Пантеон Преисподней" hells={hells} />
  </div>
</TextPageLayout>
