---
interface Props {
  city: {
    slug: string;
    data: {
      title: string;
      holders?: string | undefined;
    };
  };
  region: {
    slug: string;
  };
}

const { city, region } = Astro.props;
---

{
  city && region && (
    <a href={`/world/regions/${region.slug}/cities/${city.slug}`}>
      {city.data.title}{" "}{city.data.holders && `(${city.data.holders})`}
    </a>
  )
}
