---
import type { CollectionEntry } from "astro:content";

interface Props {
  city: CollectionEntry<"cities">;
  region: CollectionEntry<"regions">;
}

const { city, region } = Astro.props;
---

{
  city && region && (
    <a href={`/world/regions/${region.slug}/cities/${city.slug}`}>
      {city.data.title} {city.data.holders && `(${city.data.holders})`}
    </a>
  )
}
