---
import type { CollectionEntry } from "astro:content";

interface Props {
  region: CollectionEntry<"regions">;
}

const { region } = Astro.props;
---

{region && <a href={`/world/regions/${region.slug}`}>{region.data.title}</a>}
