---
import type { CollectionEntry } from "astro:content";
import TribeLink from "./TribeLink.astro";

interface Props {
  title: string;
  region: CollectionEntry<"regions">;
  tribes: CollectionEntry<"tribes">[];
}

const { title, region, tribes } = Astro.props;
---

{
  tribes?.length > 0 && (
    <>
      <h3>
        <span class="bold">{title}:</span>
      </h3>
      <ul>
        {tribes.map((tribe) => (
          <li>
            <TribeLink region={region} tribe={tribe} />
          </li>
        ))}
      </ul>
    </>
  )
}
