---
import type { CollectionEntry } from "astro:content";

interface Props {
  tribe: CollectionEntry<"tribes">;
  region: CollectionEntry<"regions">;
}

const { tribe, region } = Astro.props;
---

{
  tribe && region && (
    <a href={`/world/regions/${region.slug}/tribes/${tribe.slug}`}>
      {tribe.data.title}
    </a>
  )
}
